<% byebug %>
Date of extract: 
<%= Date.today %>
<br>

Posts count:
<%= @orders.count %>
<br>

<table style="width:100%">
  <thead>
    <tr>
      <th>id
      <th>title</th>
      <th>content</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |post| %>
      <%#= content_tag :tr, id: dom_id(post), class: dom_class(post) do %>
        <td><%= post.id %></td>
        <td><%= post.description %></td>
        <td><%= post.payment_method %></td>
      <%# end %>
    <% end %>
  </tbody>
</table> 
<% debugger %>