<div style="display: flex;">	
	<% if @items.count >0 %>
		<div class="container cart_item">
			<% price_total = 0 %> <% item_total = 0 %>
			<% @items.each do |item| %>
		    <div class="row my-4">
		    	<div class="col-sm-3">
		    		<%= image_tag item.product.images.first, size: "200x200" %>
		    	</div>
		    	<div class="col-sm-6">
		    		<%= item.product.product_name %>
		    		<br />
		    		<%= item.product.description%>
		    		<br />
		    		₹<%= item.product.discount_price %>
		    		<s style="color: #9f9191;">₹<%= item.product.price * item.quantity %></s>
		    		<span style= "color: green;">
            <%= item.product.discount.discount_amount if item.product.discount.present? %> % Off </span>
						<% price_total += item.product.discount_price * item.quantity%>
		    	</div>
		    	<div class="col-sm-3">
		    		<strong>Delivery by <%= delivery_date %></strong>
		    		<p><span style="color: green;">Charges</span><%= item.cart.cart_method(item.product) %></p>
		    	</div>
		    </div>
		    <div class="row" style="margin-top: 25px;">
		    	<div class="col-auto">
		    		<div class="btn-group" role="group" aria-label="Basic example">
			      	<%= button_to "-", edit_line_item_path(item),method: :get, class: "btn-sm btn btn-outline-success" %> 
			      	<span style="padding: 0 8px 0 0"><%= item.quantity %></span> 
			      	<% item_total += item.quantity %> 
			      	<%= button_to "+", line_item_path(item), method: :put, class: "btn-sm btn btn-outline-success" %>
						</div>
					</div>
					<div class="col-auto">
						<div class="btn-group" role="group" aria-label="Basic example">
		      		<%= button_to "Remove", line_item_path(item),data: { confirm: "Are you sure?"}, method: :delete, class: "btn btn-outline-success" %>
		      		<%= link_to "Buy", new_order_path(item_id: item.id, method: :get), class: "btn btn-outline-success"%>
		      	</div>
		      </div>
				</div>
			<% end %>
			<br />
			<br />
			<table class="table">
			  <thead>
			  </thead>
			  <tbody>
			    <tr>
			      <td style="border: none">
						</td>
			      <td style="border: none"></td>
			      <td style="border: none">
				      <div class="buy-all">
					      <% if @items.count > 1 %>
					      	<%=link_to "Buy All", new_order_path(item_id: "#{@items.ids}", method: :get), class: "btn btn-outline-success"%>
					      <% else %>
					      	<%=link_to "Buy All", new_order_path(item_id: @items.first.id, method: :get), class: "btn btn-outline-success"%>
					      <% end %>	
					    </div>
				    </td>
			    </tr>
			  </tbody>
			</table> 
		</div>
		<div class="container cart_total">
			<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">PRICE DETAILS </th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td style="border: none">
				      	Price(<%= item_total %> items)
							</td>
				      <td style="border: none">₹<%= "#{price_total}" %></td>
				    </tr>
				    <tr>
				    	<td style="border: none">Delivery Charges
				    	</td>
				    	<td style="border: none">₹<%= current_user.cart.total_charges(@items) %>
				    	</td>
				    </tr>
				    <tr>
				    	<td style="border: none">Total Price:
				    	</td>
				    	<td style="border: none">₹<%=price_total + current_user.cart.total_charges(@items).to_i %>
				    	</td>
				    </tr>
				    <tr>
				      <% if @items.count > 1 %>
				      	<td style="border: none"><%=link_to "Buy All", new_order_path(id: "#{@items.ids}", method: :get), class: "btn btn-outline-success"%></td>
				      <% else %>
				      	<td style="border: none"><%=link_to "Buy All", new_order_path(id: @items.first.id, method: :get), class: "btn btn-outline-success"%></td>
				      <% end %>	
				    </tr>
				  </tbody>
				</table> 
		</div>
	<% else %>
	<div class="container">
		<h1>Add Items To Cart</h1>
		<%= button_to "Go To Home Page", products_path, class: "btn btn-outline-success", method: :get %> 
		<% end %>
	</div>
</div>

