<div class="container" style="width: 450px;">
	<div class="d-flex justify-content-center form-group">
		<h1>Add Account</h1>
	</div>
	<div class="d-flex justify-content-center form-group">
		<%= form_for @account, url_for: bank_accounts_path, method: :post  do |f| %>  

			<div class="field ">
				<%= f.label :account_no %><br />
				<%= f.text_field :account_no , class: "form-control" ,autocomplete: "account_no" %><br />
			</div>

			<div class="field ">
				<%= f.label :ifsc_code %><br />
				<%= f.text_field :ifsc_code , class: "form-control" ,autocomplete: "ifsc_code", size: "25x2"%><br />
			</div>

			<div class="field ">
				<%= f.label :bank %><br />
				<%= f.text_field :bank , class: "form-control" ,autocomplete: "bank", size: "25x2"%><br />
			</div>

			<div class="field ">
				<%= f.label :branch_name %><br />
				<%= f.text_field :branch_name , class: "form-control" ,autocomplete: "branch_name", size: "25x2"%><br />
			</div>

			<div class="field ">
				<%= f.label :city %><br />
				<%= f.text_field :city , class: "form-control" ,autocomplete: "city", size: "25x2"%><br />
			</div>

			<div class = "action" >
				<%= f.submit "Add Account" ,class: "btn btn-primary btn-lg btn-block" %>
			</div>
		<% end %>
	</div>
</div>