<div class="container" style="width: 450px;">
  <div class="d-flex justify-content-center">
    <h1>Edit Address</h1>
  </div>
  <div class="d-flex justify-content-center">
   <%= form_for @address, url_for: address_path(@address), method: :patch  do |f| %>

    <div class="field">
      <%= f.label :house_no %>
      <%= f.text_field :house_no , class: "form-control" ,autocomplete: "house_no" %>
    </div>

    <div class="field">
      <%= f.label :street %>
      <%= f.text_field :street , class: "form-control" ,autocomplete: "street" %>
    </div>

    <div class="field">
      <%= f.label :landmark %>
      <%= f.text_field :landmark , class: "form-control" ,autocomplete: "landmark" %>
    </div>

    <div class="field">
      <%= f.label :pin %>
      <%= f.text_field :pin , class: "form-control" ,autocomplete: "pin" %>
    </div>
    <div data-controller="form-element">
      <%= f.button "Validate", formaction: new_address_path, formmethod: :get, data: {form_element_target: "submitbtn", turbo_frame: :dynamic_fields} %>
      <%= turbo_frame_tag :dynamic_fields do %>
        <%= f.label :country, style: "display: block" %>
        <%= f.select :country, CS.countries.invert, {include_blank: true}, {data: { action: "change->form-element#autosumbit"}}%>
        <div class="field">
          <%= f.label :state, style: "display: block" %>
          <%= f.select :state, @address.state_opts.invert, {include_blank: true}, {data: { action: "change->form-element#autosumbit"}} %>
        </div>
        <div class="field">
          <%= f.label :city, style: "display: block" %>
          <%= f.select :city, @address.city_opts, {include_blank: true}, {} %>
        </div>
      <% end %>
    </div>
    <div class="field">
      <%= f.submit "Add", class: "btn btn-primary btn-lg btn-block" %>
    </div>
   <% end %>
  </div>
</div>