<div class="row" id="card-container">
  <% @products.each do |product| %>
   <div class="card mx-2 my-2" style="width: 22rem;">
      <%= link_to product_path(product) do %>  
        <%= image_tag product.images.first, size: "200x200",class: "card-img-top" %>
      <% end  %>
      <a href='products/<%="#{product.id}"%>' class= "a_product">
        <div class="card-body">  
          <h5 class="card-title">
            <%= "#{product.product_name}"%>
          </h5>
          <p class="card-text">
            <%= "#{product.description.truncate(35)}" %>
          </p>
          <h6>
            ₹<%="#{product.price}" %>
          </h6>
          <%if user_signed_in? && product.line_items.find_by(cart_id: current_user.cart.id).present? %> 
            <%= link_to "GoToCart", carts_path,class: "btn btn-secondary btn-lg btn-block" %>
          <% else %>  
            <% if product.stock == 0 %>
              <%= link_to "AddToCart", root_path,class: "btn btn-secondary btn-lg btn-block" %>
            <% else %>
              <%= link_to "AddToCart", new_cart_path(id: product.id),class: "btn btn-primary btn-lg btn-block" %>
            <% end %>
          <% end %> 
        </div>
      </a>
    </div>
  <% end %>
</div>
<%= paginate @products , theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center"%>