<div style="display: flex; justify-content: center;">  
  <div class="container cart_item">
      <div class="row my-4">
        <div class="col-sm-4">
          <% @product.images.each do |image| %>
            <%= image_tag image, size: "300" %>
          <% end %>
        </div>
        <div class="col-sm-8">
          <%= @product.product_name %>
          <br />
          <%= @product.description.html_safe %>
          <% if @product.discount.present?%>
            ₹<%= @product.discount_price %>
            <s style="color: #9f9191;">₹<%= @product.price%></s>
            <span style= "color: green;">
              <%= @product.discount.discount_amount %> % Off </span>
          <% else %>
            ₹<%= @product.price%>
          <% end %>  
          <br />
          Delivery Charges: <span style="color: green;">₹ <%= @charges%></span>
          <br/>
          Offers:
          <%@product.offer_types.each do |offer| %>
            <%= offer.name %> discount
            <%= offer.discount_percent %> %
          <% end %>
          <br />
        </div>
      </div>
      <div class="row my-4">
        <div class="col-sm-4">
          <%= link_to "AddToCart", new_cart_path(id: @product.id),class: "btn btn-primary btn-lg btn-block" %>
        </div>
        <div class="col-sm-4">
          <%= link_to "Buy Now", new_order_path(id: @product.id, value: 1), method: :get, class: "btn btn-primary btn-lg btn-block"%>
        </div>
      </div>
  </div>
</div>