<div class="container">
	<% unless current_user.admin? %>
		<h1><%= current_user.name %>'s Shipments </h1>
	<% end %>
	<% @orders.each do |order| %>
		<% if current_user.admin? %>
			<h1><%= order.user.name %>'s Shipment </h1>
	 	<% end %>
		<div class="card my-3 px-3">
			<div class="row">
				<div class="col">
					<b>Status:</b>
				</div>
				<div class="col">
					<%= order.shipment.status%>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<b>Expected Delivery Date:</b>
				</div> 
				<div class="col">
					<%= order.shipment.expected_delivery %>
				</div>
			</div>
		</div>	
		<% if current_user.admin? %>
			<%= link_to "Edit Shipment", edit_shipment_path(order.shipment), class: "btn btn-primary btn-lg " %>
		<% end %>
	<% end %>
</div>