<div class="container">
  <% if @product.present? %> 
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Images</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Description</th>
          <% if user_signed_in?%>
          	<th scope="col">Edit Product</th> 
          	<th scope="col">Delete Product</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      	<% @product.each do |product| %>
        <tr>
          <th scope="row"><%= "#{product.id}" %></th>
          <td>
          <% product.images.each do |image| %>
          	<%= image_tag image, size: "50x50" %>
    			<% end %>
    			</td>
          <td><%= product.product_name %></td>
          <td>₹<%= product.price %></td>
          <td><%= product.stock %></td>
          <td><%= product.description %></td>
          <% if user_signed_in?%>
          	<td>
          		<%= link_to "EditProduct", edit_product_path(product) %>
          	</td>
          	<td>
          		<%= link_to "DeleteProduct", product_path(product),data: { confirm: "Are you sure?"}, method: :delete %>
          	</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>